h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: rgb (255, 255, 255);
}
h2{
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: rgb (255, 255, 255);
}
div {
    width: 100px;
    height: 100px;
    transition: width 2s linear 2s;
    text-align: center;
    font-weight: bold;
}
div:hover {
    width: 200px;
    height: 200px;
    transition: width 2s, height 2s;
    text-align: center;
}
