h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: rgb (255, 0, 255);
}
h2{
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: rgb (255, 0, 255);
}
div {
    width: 100px;
    height: 100px;
    position: center;
    font-weight: bold;
    background: rgb (255, 0, 0);
}
div:hover {
    width: 200px;
    height: 200px;
    transition: width 2s, height 2s;
    background: rgb (0, 255, 0);
    position: center;
}
body {
    background-color: rgb (127.5, 127.5, 127.5);
}
button {
    text-align: center;
}
p {
    text-align: center;
}
@keyframes example {
  from {top: 0px; background-color: yellow;}
  to {top: 200px; background-color: blue;}
